<a href="https://colab.research.google.com/github/choseongmin1997/hello-world/blob/master/10%EC%9B%945%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파일 쓰기

In [2]:
f = open('latin.txt','w')
f.writelines('a')
f.close()

In [3]:
f = open('hangul.txt','w',encoding='UTF-8')
f.writelines('가')
f.close()

In [19]:
f = open('99.txt', 'w')
for i in range(1,10):
   f.writelines('\t'.join(str(i*j) for j in range(1,10)))
   f.writelines('\n')
f.close()

In [8]:
f = open('hangul.txt', 'r', encoding='utf-8')
text = f.read()
f.close
print(text)

가

In [10]:
f = open('99.txt', 'r')
nines = f.readlines()
f.close()
print(nines)

['1\t2\t3\t4\t5\t6\t7\t8\t9\n', '2\t4\t6\t8\t10\t12\t14\t16\t18\n', '3\t6\t9\t12\t15\t18\t21\t24\t27\n', '4\t8\t12\t16\t20\t24\t28\t32\t36\n', '5\t10\t15\t20\t25\t30\t35\t40\t45\n', '6\t12\t18\t24\t30\t36\t42\t48\t54\n', '7\t14\t21\t28\t35\t42\t49\t56\t63\n', '8\t16\t24\t32\t40\t48\t56\t64\t72\n', '9\t18\t27\t36\t45\t54\t63\t72\t81\n']

In [21]:
f = open('99.txt','r')
for line in f:
  print(line, end="")
f.close()

1	2	3	4	5	6	7	8	9
2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

In [23]:
f = open('temp.txt','w')
f.write('a')
f.close()

f = open('temp.txt','r')
print(f.read())

a

In [51]:
nines = [
         [1,2,3,4,5,6,7,8,9],
         [2,4,6,8,10,12,14,16,18],
         [3,6,9,12,15,18,21,24,27]
         ]

from pprint import pprint
f = open('99.txt')
nines2 = []
for line in f:
  nines2.append(line.split())

f.close()
pprint(nines2)

[['1', '2', '3', '4', '5', '6', '7', '8', '9'],
 ['2', '4', '6', '8', '10', '12', '14', '16', '18'],
 ['3', '6', '9', '12', '15', '18', '21', '24', '27'],
 ['4', '8', '12', '16', '20', '24', '28', '32', '36'],
 ['5', '10', '15', '20', '25', '30', '35', '40', '45'],
 ['6', '12', '18', '24', '30', '36', '42', '48', '54'],
 ['7', '14', '21', '28', '35', '42', '49', '56', '63'],
 ['8', '16', '24', '32', '40', '48', '56', '64', '72'],
 ['9', '18', '27', '36', '45', '54', '63', '72', '81']]

In [35]:
#문자열 속의 모든 문자열숫자를 정수로 바꾸어주기 
#인덱싱을 활용

int(nines2[3][6]) # 4단의 7번쨰의 숫자

28

In [52]:
for i, line in enumerate(nines2):
    for j, n in enumerate(line):
        nines2[i][j] = int(n)
pprint(nines2)

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [57]:
import pickle
f = open('99list.pkl','wb')
pickle.dump(nines2, f)
f.close()

In [58]:
f = open('99list.pkl','rb')
nines_pkl = pickle.load(f)
f.close()
pprint(nines_pkl)

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]